@font-face {
  font-family: 'Inter';
  src: url(../fonts/Inter-Regular.woff2) format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: url(../fonts/Inter-Medium.woff2) format('woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'Inter';
  src: url(../fonts/Inter-Bold.woff2) format('woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'Inter';
  src: url(../fonts/Inter-Black.woff2) format('woff2');
  font-weight: 900;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-Light.woff2) format('woff2');
  font-weight: 300;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-Regular.woff2) format('woff2');
  font-weight: 400;
}
